h1{
	color: #4f5;
}

.red{
	color: red;
}
.grande{
	font-size:xxx-latge;
}
.piccolo
{
	
	font-size: small;
}

.blue{
	color: blue;
}

.bordo-rotondo{
	border: 1px solid blue;
	border-radius: 80px
	color: blue
}

div
{
	width: 250px;
	//text-align: center;
	padding: 25px 25px 25px 25px
}

body
{
	background-color:white;
}